@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-input: hsl(var(--input));
  --color-input-text: hsl(var(--input-text));
  --color-info: hsl(var(--info));
  --color-info-text: hsl(var(--info-text));
  --color-card: hsl(var(--card));
  --color-active: hsl(var(--active));
  --color-active-text: hsl(var(--active-text));
  --color-destructive: hsl(var(--destructive));
  --color-border: hsl(var(--border));

  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);

  --radius: 0.5rem;

  --blend-0: 0%;
  --blend-11: 11.11%;
  --blend-33: 33.33%;
  --blend-66: 66.66%;

  /* Custom animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-breathing: breathing 3s ease-in-out infinite;
  --animate-update-a: update-a 2s ease-in-out;
  --animate-update-b: update-b 2s ease-in-out;
  --animate-update-border: update-border 2s ease-in-out;
  --animate-magic: magic 3s ease-in infinite;
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes breathing {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.65;
  }
}

@keyframes update-a {
  from {
    color: hsl(var(--active));
  }

  to {
    color: hsl(var(--input-text));
  }
}

@keyframes update-b {
  from {
    color: hsl(var(--active));
  }

  to {
    color: hsl(var(--input-text));
  }
}

@keyframes update-border {
  from {
    border-color: hsl(var(--active));
  }

  to {
    border-color: hsl(var(--border));
  }
}

@keyframes magic {

  0%,
  100% {
    filter: drop-shadow(0px 0px 2px hsl(var(--active) / 100%));
  }

  50% {
    filter: drop-shadow(0px 0px 2px hsl(var(--active) / 0%));
  }
}

@keyframes fade-out {
  to {
    --opacity: 0%;
  }
}

@keyframes angle-spin {
  to {
    --angle: 360deg
  }
}

@utility bg-* {
  --background-color: --value(--color-*)
}

@utility blend-* {
  --blend-percent: --value([percentage], --blend-*);

  background-color: color-mix(in oklab,
      var(--background-color) calc(100% - var(--blend-percent)),
      var(--color-background) var(--blend-percent)) !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --opacity {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

@layer components {
  .glow {
    position: relative;
  }

  :has(.glow) {
    isolation: isolate;
  }

  .glow::before,
  .glow::after {
    content: '';
    position: absolute;
    inset: -2px;
    background: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    z-index: -1;
    border-radius: inherit;
    animation: 3s angle-spin linear infinite, 1s fade-out ease-out 1 4s forwards;
    opacity: var(--opacity);
  }

  .glow::before {
    filter: opacity(80%) blur(12px);
  }
}