@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-input {
    position: relative;
    z-index: 10;
    background-color: hsl(var(--background));
    overflow: clip;
  }

  .bg-input::before {
    content: var(--tw-content);
    position: absolute;
    inset: 0;
    z-index: -10;
    background-color: hsl(var(--input)/100%);
  }

  .bg-input:hover::before {
    content: var(--tw-content);
    position: absolute;
    inset: 0;
    z-index: -10;
    background-color: hsl(var(--input)/65%);
  }

  .bg-input[data-state=on]::before {
    content: var(--tw-content);
    position: absolute;
    inset: 0;
    z-index: -10;
    background-color: hsl(var(--input)/65%);
  }

  /* Focus state */
  .focus-ring:focus {
    outline: 2px solid hsl(var(--ring));
    outline-offset: 2px;
  }

  :root {
    --radius: 0.5rem
  }
}